body{
  font-family:Arial;
  background:#f2f2f2;
  text-align:center;
  margin:0;
}

header,footer{
  background:#0b3c5d;
  color:white;
  padding:15px;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
}

.hero{
  background:white;
  padding:30px;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15px;
  padding:20px;
}

.card{
  background:white;
  padding:20px;
  width:200px;
  border-radius:8px;
}

input,select,button{
  width:260px;
  padding:10px;
  margin:10px auto;
  display:block;
}

button{
  background:#0b3c5d;
  color:white;
  border:none;
  cursor:pointer;
}

